body {
    width: 90%;
    margin: auto auto!important;
    background-color: black!important;
    color: #f8f8f8!important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
}
a {
    color: #dfd516!important;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar {
    position: relative;
    top: 40px;
    height: 80px;
    background-color: rgb(52, 52, 52);
    align-items: inherit;
    border: 2px solid #181111;
    border-radius: 10px;
}
.list-style {
    position: relative;
    display: inline-flex;
    font-size: 0.8em;
    float: left;
}
.login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    right: 18px;
    width: 118px;
    text-align: right!important;
    border: 1px solid yellow;
}
.list-style .options, .tutorial-heading {
    padding: 5px 10px;
    text-align: center;
}
.options {
    display: flex;
    flex-direction: column;
}
.options:hover {
    color: rgb(218, 218, 1);
}
.list-style .options i {
    font-size: 30px;
}
.loggingIn {
    cursor: pointer;
    background-color: transparent!important;
    color: #f2d71a!important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #F2D71A;
    height: 37px;
    width: 50%;
    right: 19px;
    position: relative;
}
.loggingIn:hover {
    animation: fadeLeft 1s;
    animation-fill-mode: forwards;
    /*animation-timing-function: ease;*/
}
.signingUp {
    width: 50%;
    height: 37px;
    cursor: pointer;
    color: #181111!important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: linear-gradient(to right,#f2d71a 0%,#ecb024 100%)!important;
}
@keyframes fadeLeft {
    to {left: 1px}
}
.w3-section {
    margin-top: 80px;
    margin-bottom: 20px;
}
.w3-content {
    margin-left: auto;
    margin-right: auto;
}
.section[_ngcontent-nyl-c159] .section-heading[_ngcontent-nyl-c159] {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.section[_ngcontent-nyl-c159] .section-content[_ngcontent-nyl-c159] .section-content-wrap[_ngcontent-nyl-c159] {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
.app-banner-img[_ngcontent-nyl-c159], .one-wallet-banner-img[_ngcontent-nyl-c159] {
    width: 100%;
}
.mySlides {display:none;}
.mySlides2 {display:none;}
.d-flex {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-heading-left .heading-text {
    margin-left: 10px;
}
.social-media-section {
    text-align: center;
    margin-bottom: 50px;
}
.special_border {
    padding: 2px;
    margin: 10px 10px;
    border: 1px solid #f2d71a;
    border-radius: 12px;
}
.btns {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 8px;
    line-height: 15px;
    font-size: 11px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right,#f2d71a 0%,#ecb024 100%);
    color: #000;
}
.right, .left {
    width: 47%!important;
    padding: 2px!important;
}